@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .histparagraph {
    @apply px-8 py-12 mx-auto;
  }

  .storypic {
    @apply rounded-lg mx-auto max-h-80 shadow-xl;
  }
}
