ul.explosion {
  li {
    position: absolute;
    bottom: -200%;
    transform-style: preserve-3d;
    z-index: -100;
    opacity: 0%;
    color: #6b7280;
  }
}

@for $i from 1 through 7 {
  ul.explosion > li:nth-child(#{$i}) {
    left: 20 + random(60) * 1%;
    bottom: -200 + random(100) * 1%;
    animation: scale(0.1);

    animation: raise#{$i} 6 + random(15) + s linear infinite;
    animation-duration: random(10) + 30s;

    @keyframes raise#{$i} {
      10% {
        opacity: 20%;
      }
      to {
        bottom: 40%;
        transform: scale(0.3 * $i - 0.9) rotate(random(360) + deg);
        opacity: 0%;
      }
    }
  }
}
